@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  display: none;
}

body {
  background: rgb(238, 242, 255);
  background: linear-gradient(
    90deg,
    rgba(238, 242, 255, 1) 30%,
    rgba(255, 241, 242, 1) 100%
  );
  color: #23374b;
  height: 100vh;
}

.readme p {
  margin: 0.75rem 0;
}

.readme ul {
  list-style-position: inside;
  margin: 0.75rem 0 0.75rem 1rem;
  list-style-type: disc;
}

.readme h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 1rem 0 0.75rem;
}

.readme-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.75rem 0;
}
