@tailwind base;
@tailwind components;
@tailwind utilities;

video {
    display: none;
}

body {
    background-color: #F1F3F5;
    color: #23374B;
    padding: 3em 5em;
    height: 100vh;
}

.readme p {
margin: 0.75rem 0;
}

.readme ul {
  list-style-position: inside;
  margin: 0.75rem 0 0.75rem 1rem;
  list-style-type: disc;
}

.readme h3 {
  font-size: 1.5rem; 
  line-height: 2rem;
  font-weight: 600;
  margin: 1rem 0 0.75rem;
}

.readme-subtitle {
  font-size: 1.25rem; 
  font-weight: 600;
  margin: 0.75rem 0;
}

.readme hr {
  border-color: #D1D4D8;
  margin: 0.25rem 0 0.75rem;
}



/* const useStyles = createUseStyles((theme) => ({
    "@global body": {
      background: theme.palette.background,
      color: theme.palette.text,
      fontFamily: "sans-serif",
    },
  
    App: {
      padding: "20px",
      background: theme.palette.primary,
      maxWidth: "800px",
      minHeight: "600px",
      margin: "auto",
      "& a": {
        color: theme.palette.text,
      },
    },
    Header: {
      "&  h1": {
        fontFamily: "sans-serif",
        cursor: "pointer",
        fontSize: "4rem",
      },
    },
    Main: {
      background: theme.palette.secondary,
  
      "& canvas": {
        width: "100%",
        height: "auto",
      },
      "& video": {
        display: "none",
      },
    },
    Stickers: {
      "& img": {
        height: "4rem",
      },
    },
    Gallery: {
      "& img": {
        height: "16rem",
      },
    },
    Picture: {
      background: "black",
      padding: 4,
      position: "relative",
      display: "inline-block",
      "& h3": {
        padding: 8,
        textAlign: "center",
        width: "100%",
      },
    },
  })); */